body{
    background-color: rgb(196, 255, 180);
    
    
   background-position-x:  left;
   /* background-size: 90%; *//*   
    background-size: 150vh; */
    /* background-position: 0vw; */
    /* background-position: 50vh; */

}
.cavalo1 {
   display: flex;
   flex-direction: row;
   /* justify-content: space-around; */
   background-image: url(Inserir\ um\ subtítulo\ \(2\).png);
   background-repeat: no-repeat;
   background-size: cover;
}
    
img {
    width: 500px;
    height: auto;
    text-align: center;
}
div {
    text-align: left;
}

h1 {text-align: center;
}
h2 {
    text-align: center;
}
a { 
    text-decoration: none;
    color: rgb(79, 167, 47);
}





